/**

!/.gitignore
!/.bash_profile
!/.bashrc
!/.config/i3/
!/.config/i3/*
!/.config/i3status/
!/.config/i3status/*
!/.config/kitty/
!/.config/kitty/*
!/.config/rofi/
!/.config/rofi/*
!/.fehbg
!/.scripts/
!/.scripts/*
!/.wallpapers/
!/.wallpapers/*
!/.Xauthority
!/.xinitrc
!/.Xresources
!/.zshrc
