/**

!/.gitignore
!/.bash_profile
!/.bashrc
!/.config/i3/*
!/.config/i3status/*
!/.config/kitty/*
!/.config/rofi/*
!/.fehbg
!/.scripts/*
!/.wallpapers/*
!/.Xauthority
!/.xinitrc
!/.Xresources
!/.zshrc
